<!DOCTYPE html>
<html>

<head>
  <title>
    Welcome
    | ColorPK
    | Color Palette for Designer and Developers
    | 颜色搭配
    | 色彩组合
    | 艺术设计
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="keywords" content="ColorPK, colorhunt" />
  <meta name="description" content="ColorPK | Faster lighter and nicer than colorhunt | 全球最大色彩搭配网站 | 颜色搭配 | 艺术设计" />

  <meta property="og:title" content="ColorPK v2" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.colorpk.com" />
  <meta property="og:description" content="Your Best Color Picker | 全球最大色彩搭配网站 | 颜色搭配 | 艺术设计" />
  <meta property="og:site_name" content="colorpk" />
  <meta property="og:image"
    content="https://repository-images.githubusercontent.com/75897824/b1278e80-8704-11ea-9acf-ac166e4ad4fd" />
  <meta property="og:image:secure_url"
    content="https://repository-images.githubusercontent.com/75897824/b1278e80-8704-11ea-9acf-ac166e4ad4fd" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="640" />
  <meta property="og:image:alt" content="colorpk" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="colorpk" />
  <meta name="twitter:title" content="ColorPK v2" />
  <meta name="twitter:description" content="Your Best Color Picker | 全球最大色彩搭配网站 | 颜色搭配 | 艺术设计" />
  <meta name="twitter:image"
    content="https://repository-images.githubusercontent.com/75897824/b1278e80-8704-11ea-9acf-ac166e4ad4fd" />
  <meta name="twitter:image:width" content="1280" />
  <meta name="twitter:image:height" content="640" />
  <meta name="twitter:image:alt" content="colorpk" />

  <link rel="stylesheet" type="text/css" href="//dkny.oss-cn-hangzhou.aliyuncs.com/4/bundle0.css?a57">
  <link rel="shortcut icon" href="//dkny.oss-cn-hangzhou.aliyuncs.com/3/fav.ico" />
  <script>
    if (window.location.hostname.indexOf('colorpk.com') > -1) {
      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5LX6LV3');

      window.addEventListener('_COLORPK_SCRIPT_READY', function () {
        window.dataLayer.push({
          'scriptLoadingTime': Date.now() - window._colorpk.load0
        });
      });
    }
  </script>
</head>

<body>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LX6LV3" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <header>
    <nav>
      <a href="/popular">Popular</a>
      <a href="/latest">Latest</a>
      <a href="/new" class="createBtn">Create</a>
      <a href="/about" class="aboutBtn">About</a>
      <a href="http://react.colorpk.com/new" target="_blank" class="reactCreateBtn">Create</a>
      <a href="/signin" class="nav-auth">Sign In</a>
    </nav>
    <div style="clear: both;"></div>
  </header>
  <div class="main">

    <div class="help">
      <p>
        Dear ColorPK User: <br />
        You've just found the best ColorPicker. It is free, fast and more
        importantly, open-source. So, welcome!<br />
        Feel free to fiddle out whatever <em>Color Palette</em> in your mind, and
        share with others. <br />
        It is a Social Platform after all :)
        <a href="javascript:_colorpk.removeWelcome()" style="margin-left: 13px; display: none;">Dismiss</a>
        <br /><br />
        For multilingual support, please go to
        <a href="//react.colorpk.com">
          <em>
            ColorPK version 1
          </em>
        </a>
      </p>
    </div>
    <div class="list"></div>

    <script>
      window._colorpk = {
        staticPath: '//dkny.oss-cn-hangzhou.aliyuncs.com/4/',
        auth: false,
        load0: Date.now(),

        likes: [],
        initData: {{ .data }}
      };
    </script>

  </div>
  <input type='hidden' name='csrfmiddlewaretoken'
    value='EXhwZ5Nlmz10PmQgrLQpAKXRPxewrEibCOUUoVDwOpjHkB3nQbiPXdAJDiIks7zH' />
  <script src="//dkny.oss-cn-hangzhou.aliyuncs.com/4/bundle0.js?a57"></script>
</body>

</html>